@namespace DataLoggerViewer.Presentation.Component

<section class="bg-base-200 border-base-300 border p-2">
   <table>
       <tbody>
           <tr>
               <td>Crane ID:</td>
               <td>018894</td>
           </tr>
           <tr>
               <td>Type of crane:</td>
               <td>Telescopique</td>
           </tr>
           <tr>
               <td>Model: </td>
               <td>Demo Telescopique</td>
           </tr>
            <tr>
               <td>Software </td>
               <td>SC1922006v512</td>
           </tr>
           <tr>
               <td>Alarm 1 (App) </td>
               <td>90.0</td>
           </tr>
           <tr>
               <td>Alarm 2 (Over) </td>
               <td>100.0</td>
           </tr>
           <tr>
               <td>Alarm 3 (Cut) </td>
               <td>110.0</td>
           </tr>
       </tbody>
   </table>
</section>