@namespace DataLoggerViewer.Presentation.Component
@using DataLoggerViewer.Presentation.ViewModels

<section class="bg-base-200 border-base-300 border p-2 my-4 rounded-xl">
   <table class="table-auto table-xs w-full">
       <tbody class="table">
           <tr class="">
               <td class="font-medium">Duty:</td>
               <td class=" border-r border-base-300">018894</td>
               <td class="font-medium">User Id:</td>
               <td class="border-r border-base-300">Telescopique</td>
                <td class="font-medium">Max %SWL </td>
               <td class="border-r border-base-300">SC1922006v512</td>     
           </tr>
    
           <tr class="">
               <td class="font-medium">Parts: </td>
               <td class="border-r border-base-300">Demo Telescopique</td>
               <td class="font-medium">Load Max SWL </td>
               <td class="border-r border-base-300">90.0</td>
               <td class="font-medium">Capacity Max %SWL</td>
               <td class="border-r border-base-300">100.0</td>
           </tr>
     
           <tr class="">
               <td class="font-medium">Radius Max %SWL</td>
               <td class="border-r border-base-300">110.0</td>
               <td class="font-medium">Angle/Luff Max %</td>
               <td class="border-r border-base-300">110.0</td>
               <td class="font-medium">Length Max %SWL</td>
               <td class="border-r border-base-300">110.0</td>
           </tr>
        
           <tr class="">
               <td class="font-medium">Radius Max / Min:L</td>
               <td class="border-r border-base-300">110.0</td>
               <td class="font-medium">Angle Max / Min :</td>
               <td class="border-r border-base-300">110.0</td>
               <td class="font-medium">Lift duration :</td>
               <td class="border-r border-base-300">110.0</td>
            </tr>
       </tbody>
   </table>
</section>


@code{
    
}