@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@plugin "daisyui/theme" {
    name: "emerald";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(83% 0.128 66.29);
    --color-primary-content: oklch(26% 0.079 36.259);
    --color-secondary: oklch(80% 0.105 251.813);
    --color-secondary-content: oklch(28% 0.091 267.935);
    --color-accent: oklch(85% 0.138 181.071);
    --color-accent-content: oklch(27% 0.046 192.524);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0rem;
    --radius-field: 2rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}