@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }


@plugin "daisyui/theme" {
  name: "emerald";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(92% 0.006 264.531);
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(51% 0.222 16.935);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(27% 0.041 260.031);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(60% 0.118 184.704);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(41% 0.159 10.272);
  --color-neutral-content: oklch(96% 0.015 12.422);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
